@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
overflow-x: hidden;
}

body {
  font-family: 'League Spartan', 'Inter', Arial, sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
  line-height: 1.6;
}

.homeBgBody {
  background: url('/images/bg-home.png') no-repeat center center fixed;
  background-size: cover;
}
.layoutRoot {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1 0 auto;
}