@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sanchez', serif;
}

html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}

.homeBgBody {
  background: url('/images/bg-home.png') no-repeat center center fixed;
  background-size: cover;
}
.layoutRoot {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1 0 auto;
}