.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}