.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1.5rem;
}

.erro {
  color: red;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
}

.carregando {
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
}
